.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px 25px;
  text-decoration: none;
  font-family: "Arial" sans-serif;
  transition: background-color 0.3s ease,
  color 0.3s ease,
  border 0.3s ease;
  font-size: 17px;
  line-height: 24px;
  white-space: nowrap;
  
  &--black{
    border: 1px solid #212B31;
    background: #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    color: white;
  }

  &--black:hover{
    background: #2e3c44;
    box-shadow: none;
  }
  
  &--small-black{
    padding: 8px 20px;
    background-color: #212B31;
    border: 1px solid #212B31;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    color: white;
  }

  &--small-black:hover{
    background-color: white;
    color: #212B31;
    box-shadow: none;
  }

  &--white{
    color: #212B31;
    background-color: #FFFFFF;
    border: 1px solid #DADEDF;
  }

  &--white:hover{
    border: 1px solid #212B31;
  }

  &--black:active,
  &--small-black:active,
  &--white:active{
    opacity: 0.6;
  }
}


@media only screen and (max-width: 360px){
  .button{
      padding: 7px 13px;
  }
}
