.investors__container{
    max-width: 1128px;
    padding-top: 35px;
    padding-bottom: 39px;
}

.investors__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #EEF2F3;
    border-bottom: 1px solid #EEF2F3;
}

.investors__item{
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
}

.investors__img{
    display: block;
}

@media only screen and (max-width: 480px){
    .investors__container{
        padding-top: 20px;
        padding-bottom: 35px;
    }
    
    .investors__list{
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .investors__item{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .investors__img{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 399px){
    .investors__list{
        justify-content: center;
    }
}