.site-header{
    padding: 26px 0px;
    background-color: white;
}

.site-header__container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }